div.supertop {
  border-bottom: 1px solid #5b5e73;
}

a.nav {
  color: #cacbd3;
}

a.logo img {
  border: none;
}

div.hover {
  background-color: #e84545;
}

p.footer {
  color: #cacbd3;
}

header {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header.jpg',sizingMethod='scale')";
}