section {
  margin: 50px auto;
  text-align: center;
}

section > div {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 20px;
  font: bold 100px/150px Helvetica, sans-serif;
  background-color: grey;
  color: white;
}