* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

html {
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}


/* ---- HEADER ----  */

header {
  background: url(images/header.jpg) no-repeat 0 0 #3a3e64;
  background-size: cover;
}

div.supertop {
  max-width: 1210px;
  margin: 0 auto;
  padding: 38px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

div.supertop:after {
  content: " ";
  display: block;
  clear: both;
}

a.logo {
  float: left;
  width: 189px;
  height: 24px;
}

nav {
  float: right;
  line-height: 22px;
}

a.nav {
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
}

a.nav:hover {
  color:white;
}

a.nav + a {
  margin-left: 59px;
}

div.promo {
  max-width: 912px;
  margin: 0 auto;
  padding: 155px 0;
  text-align:center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 71px;
}

p.promo {
  font-size: 22px;
  font-weight: 100;
  color: white;
  padding-top: 20px;
  line-height: 33px;
}

a.promo-button {
  background-color: #e84545;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  width: 200px;
  padding: 18px 0;
  margin-top: 77px;
  border-radius: 2px;
}

a.promo-button:hover {
  background-color: #e60000;
}

/* ---- FEATURES ----  */

section.features {
  background-color: white;
  text-align: center;
  padding: 87px 0;
  box-sizing: border-box;
}

article.feature {
  display: inline-block;
  width: 300px;
  margin: 37px 47px;
}

div.rows {
  max-width: 1300px;
  margin: 0 auto;
}

.icons {
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.item1 {
    width: 60px;
    height: 60px;
    background-position: -1px -1px;
}

.item2 {
    width: 73px;
    height: 60px;
    background-position: -63px -1px;
}

.item3 {
    width: 41px;
    height: 60px;
    background-position: -138px -1px;
}

.item4 {
    width: 56px;
    height: 60px;
    background-position: -181px -1px;
}

.item5 {
    width: 72px;
    height: 60px;
    background-position: -239px -1px;
}

.item6 {
    width: 79px;
    height: 60px;
    background-position: -313px -1px;
}

article.feature h2 {
  padding-top: 35px;
  color: #2d3033;
}

article.feature p {
  padding-top: 21px;
  line-height: 1.5;
  color: #6c7279;
}

p.f-description, p.w-description {
  font-size: 14px;
  font-weight: 400;
}

/* ---- WORKS ----  */

section.works {
  background-color: white;
  margin: 0 auto;
  font-size: 0px;
  border-bottom: 1px solid white;
}

div.work {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 25%;
  background-color: #2b2e4a;
  border: 1px solid white;
  box-sizing: border-box;
  overflow: hidden;
}

div.hover {
  display: none;
  background-color: RGBa(232,69,69,0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 350px;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

img.work:hover + div.hover {
  display: table;
}

div.hover:hover { 
  display: table;
}

div.hover h2, div.hover p {
  text-align: center;
  color: white;
}

section.works:after {
  display: block;
  content: " ";
  clear: both;
}

/* ---- FOOTER ----  */

footer {
  background-color: #3a3e64;
}

footer h2 {
  color: white;
}

address.footer, p.footer {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 22px; 
  font-style: normal;
}

div.credits {
  max-width: 1170px;
  margin: 0 auto;
  padding: 72px 0;
  text-align: center;
}

div.location, div.share, div.about {
  width: 33%;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
}

div.credits:after {
  content: " ";
  display: block;
  clear: both;
}

div.share > a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 2px;
  margin-top: 22px; 
}

a.social:hover {
  background-color: #e84545;
}

div.share > a.facebook {
  background-image: url(images/facebook.png);
  background-repeat: no-repeat;
  background-position: 14px 9px;
}

div.share > a.twitter {
  background-image: url(images/twitter.png);
  background-repeat: no-repeat;
  background-position: 8px 12px;
}

div.share > a.linkedin {
  background-image: url(images/linkedin.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

div.superbottom {
  background-color: #313454;
  color: #808080;
  text-align: center;
  padding: 29px 0;
  line-height: 22.5px;
}

span.heart {
  display: inline-block;
  background-image: url(images/heart.png);
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

span.author {
  color: white;
}


/* ---- TEAM ---- */

section.team {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 130px;
}

section.team:after {
  display: block;
  content: " ";
  clear: both;
}

figure.person {
  width: 25%;
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}

img.person {
  max-width: 100%;
  height: auto;
}

figure.person h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding-top: 25px;
}

figure.person h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #e84545;
  padding-top: 10px;
}

figure.person figcaption {
  font-family: 'Raleway', sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 20px;
  padding-top: 25px;
}

figure.person > a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  border-radius: 2px;
  margin-top: 22px; 
}

figure.person > a.facebook {
  background-image: url(images/g-facebook.png);
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

figure.person > a.facebook:hover {
  background-image: url(images/facebook.png);
}

figure.person > a.twitter {
  background-image: url(images/g-twitter.png);
  background-repeat: no-repeat;
  background-position: 8px 12px;
}

figure.person > a.twitter:hover {
  background-image: url(images/twitter.png);
}

figure.person > a.linkedin {
  background-image: url(images/g-linkedin.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

figure.person > a.linkedin:hover {
  background-image: url(images/linkedin.png);
}


/* --- DOWNLOAD --- */

   section{
    display: block;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container:before{
    display: table;
    content: " ";
  }

  .container:after{
    display: table;
    content: " ";
    clear:both;
  }

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }